html {
  scroll-behavior: smooth;
}
body {
  background: #BBDEFA;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}
.jumbotron img{
  float: right;
  width: 140px;
  border-radius: 20px;
  margin-right: 5%;
}
.jumbotron{
  height: 30rem;
}
.hbd{
  text-align: center;
  margin-top: -30px;
}
.jumbotron h1 {
  font-size: 20px;
  font-weight:bold;
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
}
.jumbotron {
  font-size: 15px;
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
}
.jumbotron .typing1 {
  font-size: 20px;
  font-weight:bold;
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
  text-align: center;
}
footer span {
  color: #222;
}
footer span a {
  color: #222;
}
footer {
  font-family: "Poppins", sans-serif;
  background-color:#BBDEFA;  
  height: 40px;
  text-align: center;
}
.footer {
  height: 40px;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  position: relative;
}
.jumbotron {
  padding-top: 6rem;
  background: #BBDEFA;
  position: relative;
}

.galery {
  background-color:white;
}
.galery img {
  width: 95%;
}
section {
  justify-content: center;
}
p {
  color: white;
}
h2 {
  color: white;
  font-weight: bold;
}
h1 {
  color: white;
  font-weight: bold;
}
a {
  color: white;
  font-weight: bold;
}
a:active {
  color: white;
}


/* akhir service */

/* contact section styling */
.contact {
  background-color:#BBDEFA;
  width: 100%;
}
.contact img{
  float: left;
  width: 140px;
  border-radius: 20px;
  margin-left: 10px;
}
.contact{
  height: 30rem;
}
.hbd2{
  text-align: center;
  margin-top: 40px;
  font-family: cursive;
}
.contact-title h1 {
  font-size: 20px;
  font-weight:bold;
}
.contact p{
  font-size: 15px;
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
}
/* akhir contact */

/* skills section styling */
.skill {
  background:white;
  width: 100%;
}
.skill h1{
  color: rgb(59, 56, 56);
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
}
.hehe img{
  width: 100%;
}
.hehe{
  width: 100%;
}
.btn1:hover {
  transform: matrix(1);
}
.btn1:active {
  transform: matrix(1);
}
.btn {
  background:#BBDEFA ;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: blue;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: rgb(33, 20, 220);
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

